<div layout-align="start start">
	<md-button class="md-button-fab" aria-label="menu" ng-click="toggleLeft()" hide-md>
		<md-icon icon="images/sidenav_32.png"  style="width: 32px; height: 32px;"></md-icon>
	</md-button>
</div>
<form name="formDebt" ng-submit="getDebtLoan(debtLoan.totalMoney, debtLoan.debtRate, debtLoan.time)" novalidate>
	<md-text-float label="Type of debt"       ng-model="debtLoan.type" class="labelText" disabled > </md-text-float>
	<div layout-sm="horizontal" layout-align="center">
		<md-text-float label="Principle Money" 	ng-model="debtLoan.totalMoney" inline-block-sm inline-block required> </md-text-float>
		<md-text-float label="debt Rate"  		ng-model="debtLoan.debtRate" inline-block-sm inline-block required></md-text-float>
	</div>
	<md-text-float label="Time"       			ng-model="debtLoan.time"   required ></md-text-float>
		<md-button class="md-button-raised md-button-colored" ng-show="formDebt.$valid">Calculate</md-button>
</form>
<md-text-float label="Money From Debt Per Month" ng-model="debtLoan.payMonth" disabled></md-text-float>