<md-button class="md-button-fab" aria-label="menu" ng-click="toggleLeft()" hide-md>
		<md-icon icon="images/sidenav_32.png"  style="width: 32px; height: 32px;"></md-icon>
</md-button>
<md-text-float label="Type"       ng-model="save.type" class="labelText" disabled ></md-text-float>
<md-text-float label="Start Amount"  type="number"     	ng-model="save.sAmount" class="labelText"></md-text-float>
<md-text-float label="Goal Amount"   type="number"		ng-model="save.amount" class="labelText"></md-text-float>
<md-text-float label="Description"   type="text"	 ng-model="save.description" class="labelText"></md-text-float>

<div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
	<input type="text" data-min-date="today" data-autoclose="1" ng-model="save.end" name="dateField" bs-datepicker
	placeholder="End Date">
</div>
		

<md-button class="md-button-raised md-button-colored" ng-click="AddSaving(save.amount, save.sAmount, save.description, save.end)">Add Saving</md-button>