
<md-button class="md-button-fab" aria-label="menu" ng-click="toggleLeft()" hide-md>
		<md-icon icon="images/sidenav_32.png"  style="width: 32px; height: 32px;"></md-icon>
</md-button>
<div layout-sm="horizontal" layout-align="center" ng-controller="registerCtrl" style="min-height: 90vh;">
	<form name="regisForm" ng-submit="regisFunc(member.username, member.password, member.confirmPass, member.fname, member.lname, member.nickname, member.email, member.phone, member.birth)">
		<md-text-float label="Username" name="username"								ng-model="member.username" required> </md-text-float>
		<md-text-float label="Password" type="password" name="password" 			ng-model="member.password" required></md-text-float>
		<md-text-float label="Confirm Password" type="password" name="confirmPass"	ng-model="member.confirmPass" required></md-text-float>
		<div layout-sm="horizontal" layout-align="center">
			<md-text-float label="First Name" 	required name="fname"				ng-model="member.fname" inline-block-sm inline-block> </md-text-float>
			<md-text-float label="Last Name" 	required name="lname"				ng-model="member.lname" inline-block-sm inline-block> </md-text-float>
		</div>
		<md-text-float label="Nickname" 		required name="nickname"			ng-model="member.nickname"> </md-text-float>
		<md-text-float label="Email" 	type="email" required name="email"			ng-model="member.email"> </md-text-float>
		
		<md-text-float label="Phone" 			required name="phone"				ng-model="member.phone"> </md-text-float><br>

	    <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
			<input type="text" data-max-date="today" data-autoclose="1" ng-model="member.birth" name="dateField" bs-datepicker
			placeholder="Birth Date">
		</div>
	    <br>
	    <br>
		<md-button class="md-button-raised md-button-colored" ng-show="regisForm.$valid">Register</md-button>
	</form>
	
</div>