
	<md-button class="md-button-fab" aria-label="menu" ng-click="toggleLeft()" hide-md>
		<md-icon icon="images/sidenav_32.png"  style="width: 32px; height: 32px;"></md-icon>
	</md-button>
	<br>
	<br>
	Welcome {{ member.username }}
	<br>
	<table class="table" ng-init="listFinance()">
		  <tr>
		  	<td>
		  	<th>Fullname</th>
		  	</td>
		  	<td>{{ member.fname }}  {{ member.lname }}</td>
		  </tr>
		  <tr>
		  	<td>
		  	<th>Nickname</th>
		  	</td>
		  	<td>{{ member.nickname }}</td>
		  </tr>
		  <tr>
		  	<td>
		  	<th>Email</th>
		  	</td>
		  	<td>{{ member.email }}</td>
		  </tr>
		  <tr>
		  	<td>
		  	<th>Phone</th>
		  	</td>
		  	<td>{{ member.phone }}</td>
		  </tr>
		  <tr>
		  	<td>
		  	<th>Birth</th>
		  	</td>
		  	<td>{{ member.birth }}</td>
		  </tr>
	</table>
