
	<div ng-controller="debtCtrl" layout="vertical" layout-sm="horizontal" style="height: 88vh">
		<section style="min-width:15%">
			<md-sidenav class="md-sidenav-left md-whiteframe-z5" component-id="left" is-locked-open="$media('md')">
				<md-toolbar class="md-theme-indigo">
				 <div layout="horizontal">
		        	<h1 class="md-toolbar-tools" layout-align="center">Debt Menu</h1>
		        	<md-button ng-click="close()" class="md-button-fab" aria-label="close" hide-md>
			        	<div layout-align="end start">
			        		<md-icon icon="images/close_32.png" style="width: 32px; height: 32px;"></md-icon>
			        	</div>
		        	</md-button>
		        </div>
		     	</md-toolbar>
		     	<md-content layout="vertical">
		        	<md-button class="md-button-raised md-button-colored" ng-click="close(); template='templates/debt/debtLoan.html'">
		        	Loan Debt
		        	<!-- <span style="vertical-align: middle; align: center; padding: 10px;">
		        		<br/>
		        		
		        	</span> -->
		        	</md-button>
		        	<md-divider></md-divider>
		          	<md-button class="md-button-raised md-button-colored" ng-click="close(); template='templates/debt/debtSave.html'">Save Debt</md-button>
		          	<md-divider></md-divider>
		     	</md-content>
		    </md-sidenav>
		</section>
		
			<md-card layout="vertical" layout-fill layout-align="center center">
				<div style="padding: 20px;">
					<div ng-include src="template" ng-init="template='templates/debt/debtLoan.html'"></div>
				</div>
			</md-card>
	</div>