<div layout-align="start start">
	<md-button class="md-button-fab" aria-label="menu" ng-click="toggleLeft()" hide-md>
		<md-icon icon="images/sidenav_32.png"  style="width: 32px; height: 32px;"></md-icon>
	</md-button>
</div>
<form name="incomeForm">
	<md-text-float label="Type"       ng-model="income.type" class="labelText" disabled > </md-text-float>
	<md-button class="md-button-colored" ng-click="showGridIncome($event)">
      Select Type
    </md-button>
    <md-text-float label="Finance Type"       			ng-model="income.finance"    disabled required></md-text-float>
	<div layout-sm="horizontal" layout-align="center">
		<md-text-float type="number" label="Amount" 	ng-model="income.amount" inline-block-sm inline-block required> </md-text-float>
	</div>
    <div layout-sm="horizontal" layout-align="center">
		<md-button class="md-button-raised md-button-colored" ng-click="select = showEventDialog($event)" inline-block-sm inline-block>
      		With Event
    	</md-button>
    </div>

	<md-text-float label="Detail"       			ng-model="income.description"></md-text-float>
		<md-button class="md-button-raised md-button-colored" ng-show="incomeForm.$valid" ng-click="addFinanceIncome(income.finance, income.amount, income.description, eventID)">Add</md-button>
</form>


