<!DOCTYPE html>
<html ng-app="financeApp">
<head>
<meta charset="UTF-8">
<title>Debt Content</title>
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet" href="css/content.css">
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/hammerjs/hammer.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
</head>
<body>
	<div ng-controller="financeCtrl" layout="vertical" layout-sm="horizontal" class="mainHeightContent">
		<section style="width:15%">
			<md-sidenav class="md-sidenav-left md-whiteframe-z5" component-id="leftFinance" is-locked-open="$media('md')">
				<md-toolbar class="md-theme-indigo">
				 <div layout="horizontal">
		        	<h1 class="md-toolbar-tools" layout-align="center">Finance Menu</h1>
		        	<md-button ng-click="close()" class="md-button-fab" aria-label="close" hide-md>
			        	<div layout-align="end start">
			        		<md-icon icon="images/close_32.png" style="width: 32px; height: 32px;"></md-icon>
			        	</div>
		        	</md-button>
		        </div>
		     	</md-toolbar>
		     	<md-content layout="vertical">
		        		<md-button class="md-button-raised md-button-colored" ng-click="close(); template='templates/finance/income.html'; close()">Income</md-button>
		        		<md-divider></md-divider>
		          		<md-button class="md-button-raised md-button-colored" ng-click="close(); template='templates/finance/outcome.html'; close()">Outcome</md-button>
		          		<md-divider></md-divider>
		     	</md-content>
		    </md-sidenav>
		</section>
		<md-content flex class="md-content-padding">
			
		
			<md-card layout="vertical" layout-fill layout-align="center center">
			<div style="padding: 20px;">
				<div ng-include src="template" ng-init="template='templates/finance/income.html'"></div>
			</div>
			</md-card>
		</md-content>
	</div>
</body>
</html>